.gamesList {
    height:600px;
    background: black;
    flex-direction: column;
    align-items: center;
}

.gamesList, .gamesList div:last-child ul {
    width: 100%;
}

.gamesList div:first-child, .gamesList div:last-child ul {
    font-family: FreeMono, monospace;
}

.gamesList div:first-child {
    color: white; 
    width: 95%;
    height: 50px;
    text-decoration: underline;
    justify-content: center;
}

.gamesList, .gamesList div:first-child, .gamesList div:last-child ul {
    margin: 0;
}

.gamesList, .gamesList div:first-child {
    display: flex;
}

.gamesList div:first-child div {
    margin-left: 10px;
}

.gamesList div:last-child {
    width: 95%;
    height: 250px;
    padding: 0 50px;
}

.gamesList div:last-child ul {
    list-style:none;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(5 ,2fr);
    padding: 0; 
    grid-gap: 25px;
    margin-top: 10px;
    color: white; 
    height: 100%; 
}